.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .singleImage {
    width: 30%; /* Adjust as needed */
    margin-bottom: 50px;
    text-align: center;
  }
  
  .singleImage img {
    border-radius: 50%;
    width: 50%;
    height: 100%;
    
    transition: 3s;
  }
  .singleImage img:hover{
    transform: scale(1.5);
  }
  /* PopupComponent.css */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 510px;
    width: 809px;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    transform: translate(-52%, -43%);
    opacity: 1;
    transition: opacity 5s ease-in-out; 
    border: none;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .btn1 {
    margin-top: 10px;
    margin-left: 670px;
    background:white;
  position: sticky;
  top: 3px;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    
  }
 
  
.popup.hidden {
    opacity: 0;
  }
  .popup::-webkit-scrollbar {
    display: none;
}
@media  screen  and (max-width:480px) {
  .popup{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 4o0px;
    width: 300px;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    transform: translate(-52%, -43%);
    opacity: 1;
    transition: opacity 5s ease-in-out; 
    border: none;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;

  }
  .btn1 {
    margin-top: 8px;
    margin-left: 202px;
    background: white;
    position: relative;
    top: -10px;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    
  }
  
}